<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polimuevet.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/carpooling"
        android:label="Polimuevet"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="com.polimuevet.android.EstadoParking"
            android:configChanges="keyboardHidden|orientation"
            android:label="Estado Parkings" >
        </activity>
        <activity
            android:name="com.polimuevet.android.Portada"
            android:label="Acceso" >
            <intent-filter android:label="PolimueveT" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.polimuevet.android.Registro"
            android:label="Registro" >
        </activity>
        <activity
            android:name="com.polimuevet.android.Busqueda"
            android:label="Buscar Trayecto" >
        </activity>
        <activity
            android:name="com.polimuevet.android.Trayectos"
            android:label="Trayectos" >
        </activity>
        <activity
            android:name="com.polimuevet.android.TripDetail"
            android:label="Detalles del trayecto"
            android:parentActivityName="com.polimuevet.android.Trayectos" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polimuevet.android.Trayectos" />
        </activity>
        <activity
            android:name="com.polimuevet.android.Addtrip"
            android:label="Nuevo trayecto" >
        </activity>
        <activity
            android:name="com.polimuevet.android.HttpNewTrip"
            android:label="@string/title_activity_http_new_trip" >
        </activity>
    </application>

</manifest>